<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Song Details</title>

</head>
<body>
<!-- dynamically display data -->
<div xmlns:th="http://www.thymeleaf.org">
        <header>
            <h1>Song title: <span th:text="${song.getTitle()}"></span></h1>
        </header>
        <section>
            <h2>Genre: <span th:text="${song.getGenre()}"></span></h2>
            <h2>Year: <span th:text="${song.getReleaseYear()}"></span></h2>
            <h2>Performers: </h2>
            <ul th:each="artist: ${song.getPerformers()}">
                <li th:text="${artist.getFirstName() + ' ' + artist.getLastName()}"></li>
            </ul>
        </section>

</div>
</body>
</html>